# Dev only
.vscode/
README.md
.*
!.env.prod
!.htaccess
*.drawio

# Client dev only
gulpfile.ts
# package.json
tsconfig.json
yarn.lock
package.lock
client/

# Dependencies
vendor/
node_modules/

# Maps & cache
dist/*/*.map
var/
tmp/

# Docker files
docker*