# Dev only
.vscode/
README.md
.*
!.env.prod
!.htaccess
*.drawio

# Client dev only
gulpfile.js
package.json
tsconfig.json
yarn.lock
package.lock
client/

# Dependencies
vendor/
node_modules/

# Maps
dist/*/*.map

# Docker files
docker*