.body-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10%;
    align-items: center;
}

form > input {
    padding: 5%;
    border-radius: 20px;
    border: white;
}
.form-button{
    margin-top: 10%;
}
.link-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}